@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.container {
    background: rgb(121, 123, 124);
    min-height: 100vh;
  }
  
@media (min-width: 768px) {
  .container {
    padding-left: 1cm;
    padding-right: 1cm;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}
  

  .headingpng{
    padding-left: 8px;
    max-width: 70px; 
    height: auto; 
  }


  .Heading {
    background-color: transparent;
    color: rgb(18, 18, 17);
    width: 100%;
    display: flex;
    font-family: sans-serif;
    font-size: 2em;
    font-weight: 600;
    padding: 2rem;
  }